@import "compass/reset";
@import "compass/css3";

@import "variables";
@import "elements";
@import "common";
@import "classes";
@import "layout";
@import "mixins";

#bottom-menu{
  display: table;
  padding: 0;
}
#content{
  padding: 20px;
  padding-top: 10px;
}