html, body {
  margin: 0;
  padding: 0;
}
footer {
  background-color: #efefef;
  line-height: 60px;
  padding: 0 10px;
}
main{
  box-sizing:border-box;
  /*padding-top: 4px;*/
}
nav {
  margin: auto -10px;
  padding: 10px;
}
