/* line 1, ../../sass/elements.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 5, ../../sass/elements.scss */
footer {
  background-color: #efefef;
  height: 60px;
  padding: 0;
}

/* line 11, ../../sass/elements.scss */
#bottom-menu li {
  display: table-cell;
  list-style: none;
  padding: 20px;
}
/* line 15, ../../sass/elements.scss */
#bottom-menu li:first-child {
  width: 100%;
}

/* line 20, ../../sass/elements.scss */
main {
  box-sizing: border-box;
}

/* line 23, ../../sass/elements.scss */
nav {
  margin: auto -10px;
  padding: 10px;
}
