@import "tailwindcss";

:root {
  --blue-grey: #737f8f;
}
a {
  color: #5282c1;
}
h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
h2 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 1rem 0;
}
main article .image-box {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}
.a-block {
  aspect-ratio: 1 / 1.15;
  display: flex;
  flex-direction: column;
}
.a-block .image-box {
  height: 75%;
}
.a-block .title-box {
  height: 25%;
}
.absolute.wrapper {
  outline: solid 2px #ccc;
}
.absolute.wrapper:hover {
  outline-color: var(--blue-grey);
  outline-width: 2px;
  z-index: 2;
}
.absolute.wrapper img {
  opacity: 0;
}
.absolute.wrapper img:hover {
  opacity: 1;
}
.imgOver,
.artOver:hover {
  outline: solid 2px var(--blue-grey);
}
.skill {
  display: inline-block;
  font-weight: normal;
  font-size: 1rem;
  height: 2rem;
  margin: 1px;
  padding: 0.25rem 1rem;
}
.skill:hover {
  cursor: pointer;
  outline: solid 1px var(--blue-grey);
  padding: 3px 1rem;
}
span.selected {
  cursor: pointer;
  background-color: #caced4;
}
.txtBorderColor {
  color: var(--blue-grey);
}
