@import "tailwindcss";

:root {
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 4;
}

main article .image-box {
  background-size: contain;
  background-repeat: no-repeat;
}

.a-block {
  aspect-ratio: 1 / 1.15;
  border: solid 1px;
  display: flex;
  flex-direction: column;
}
.a-block .image-box {
  border: solid 1px red;
  height: 75%;
}
.a-block .title-box {
  border: solid 1px blue;
  height: 25%;
}
